body {
  background-color: #161616;
  color: #1dadb0;
  font-family: monospace;
  padding: 5px;
}

.bold {
  font-weight: bold;
}

.shadow {
  text-shadow: 2px 1px 15px #1dadb0;
}

.text-center {
  text-align:center;
}

.fullscreen-video {
  object-fit:cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: -2;
  top: 0px;
  filter: blur(30px);
}

.center {
  width: 50%;
  margin: 0 auto;
}

.fullscreen {
  object-fit:cover;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: -1;
  top: 0px;
  #background-color:#020d0ee6;
  background-color: rgba(16, 16, 16, 0.9);
}

.no-margin {
  margin: 0px;
}

.disable {
  display:none;
}



